<!-- {% load static %}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kebAPPka - Zarejestruj się!</title>
    <link rel="stylesheet" href="{% static '../static/style.css' %}">
</head>

<body>
    <header class="register_header">

    </header>
    <div class="calosc">
        <h2>Registration Form</h2>
        <form action="{% url 'register_action' %}" method="post">
            {% csrf_token %}
            <label for="username">Username</label>
            <input type="text" id="username" name="username">
    
            <label for="email">Email</label>
            <input type="email" id="email" name="email">
    
            <label for="password">Password</label>
            <input type="password" id="password" name="password">
    
            <label for="phone_number">Phone Number</label>
            <input type="text" id="phone_number" name="phone_number">
    
            <label for="authentication_type">Authentication Type</label>
            <select id="authentication_type" name="authentication_type">
                <option value="email">Email</option>
                <option value="phone">Phone</option>
            </select>
    
            <input type="submit" value="Register">
        </form>
    </div>

    <footer>
        
    </footer>

</body>
</html> -->

{% load static %}

<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>kebAPPka - Zarejestruj się!</title>
        <link rel="stylesheet" href="{% static '../static/style.css' %}">
    </head>
    <body>
        <header class="register_header">
            <span class="register_header">Zarejestruj się</span>
        </header>
        <div class="calosc">
            <form action="{% url 'register_action' %}" method="post">
                {% csrf_token %}
                <label for="username">Nazwa użytkownika</label>
                <div class="register-field">
                    <input type="text" id="username" name="username">
                </div>
            
                <label for="email">Email</label>
                <div class="register-field">
                    <input type="email" id="email" name="email" required>
                </div>
            
                <label for="phone_number">Numer telefonu</label>
                <div class="register-field">
                    <input type="text" id="phone_number" name="phone_number" required>
                </div>
            
                <label for="password">Hasło</label>
                <div class="register-field">
                    <input type="password" id="password" name="password" required>
                </div>
            
                <label for="confirm_password">Potwierdź hasło</label>
                <div class="register-field">
                    <input type="password" id="confirm_password" name="confirm_password" required>
                </div>
            
                <label for="authentication_type">Typ autoryzacji</label>
                <div class="register-field">
                    <select id="authentication_type" name="authentication_type" required>
                        <option value="email">Email</option>
                        <option value="phone">Phone</option>
                    </select>
                </div>
            
                <div class="checkbox_group">
                    <div class="checkbox_item">
                        <label for="newsletter">Tak, chcę otrzymywać Newsletter</label>
                        <input type="checkbox" id="newsletter" name="newsletter">
                    </div>
                    <div class="checkbox_item">
                        <label for="terms">Akceptuję regulamin korzystania z portalu</label>
                        <input type="checkbox" id="terms" name="terms">
                    </div>
                    <div class="checkbox_item">
                        <label for="data_processing">Wyrażam zgodę na przetwarzanie moich danych osobowych</label>
                        <input type="checkbox" id="data_processing" name="data_processing">
                    </div>
                </div>
            
                <div class="submit-container">
                    <button type="submit" class="submit-button">Register</button>
                    <hr>
                    <div class="federational_buttons">
                        <button type="button" class="social_button_facebook">
                            <img src="{% static 'facebook.png' %}" alt="logo_facebook" class="button_logo">Rejestracja przez facebook
                        </button>
                        <button type="button" class="social_button_google">
                            <img src="{% static 'google.png' %}" alt="logo_google" class="button_logo">Rejestracja przez Google
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <footer class="register_footer">
            
        </footer>

    </body>
</html>